data/dump.rdb
*.lock
*.wt
*.bson
*.turtle
WiredTiger
data/diagnostic.data
data/journal/
.vscode
*www/astronaut/*
*.bak
*.tmp
*.code-workspace
*.log
nginx/admingoteam.conf
nginx/licenseeysf.conf
www/catalyst-goteam
cockroach-data
