<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Yusuf_Makanan::helloworld" 
            title="Hello World" 
            module="Yusuf_Makanan" 
            sortOrder="51" 
            resource="Yusuf_Makanan::helloworld"/>

        <add id="Yusuf_Makanan::post" 
            title="Manage Makanan" 
            module="Yusuf_Makanan" 
            sortOrder="10" 
            action="yusuf_makanan/post" 
            resource="Yusuf_Makanan::post" 
            parent="Yusuf_Makanan::helloworld"/>

        <add id="Yusuf_Makanan::hello_configuration" 
            title="Configuration" 
            module="Yusuf_Makanan" 
            sortOrder="99" 
            parent="Yusuf_Makanan::helloworld" 
            action="adminhtml/system_config/edit/section/helloworld" 
            resource="Yusuf_Makanan::helloworld_configuration"/>
    </menu>
</config>